:root {
    --bayangan: 0px 0px 10px 4px rgba(0,0,0,0.11);
    --edge: 8px;
}

body {
    padding: 10rem;
}

.container {
    border: 0.2rem solid black;
    padding: 2rem;
    display: flex;
    gap: 2rem;
}

aside {
    border: 0.2rem solid yellow;
}

main {
    border: 0.2rem solid green;
    flex: 1;
    nav{
        border: 0.2rem solid blue;
    }

    nav>*{
        border-radius: var(--edge);
    }
}