.header {
    display: flex;
    border: 0.2rem solid black;
    margin-bottom: 2rem;
}
.a {
    border: 0.2rem solid yellow ;
    margin: 2rem 0;
    box-sizing: border-box;
}

.konten {
    display: grid;
    border: 0.2rem solid blue;
    padding: 1rem;
}
.b {
    border: 0.2rem solid orange;
    padding: 1rem;
    box-sizing: border-box;
}

.footer {
    border: 0.2rem solid green;
    margin-top: 2rem;
    padding: 0.5rem;
    box-sizing: border-box;
}