body {
    padding: 10rem;
}

.container {
    border: 0.2rem solid black;
    padding: 2rem;
    display: flex;
    gap: 2rem;
}

aside {
    border: 0.2rem solid yellow;
}

.main {
    border: 0.2rem solid green;
    flex: 1;
}